<html>
    <body>
        <p style="display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;font-size: 50px;text-align: center;">Purchased Successfully</p>
    </body>
</html>